.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #44474986;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f1dc1bd2;
}


sup {
  top: -.0em;
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
body{
  background-image: url("https://freerangestock.com/sample/140130/ecommerce-strategy--dropshipping--online-business.jpg");
}
/* .cardd{
  backgroundColor: #a81d1d83
} */
.cardd:hover{
background-color: rgba(245, 242, 242, 0.863);
transition-duration: 0.6s;
color: white;
}
form {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.value-button:hover {
  cursor: pointer;
  
}


.cardtext{
  color: black;
}

